{% extends "base.html" %}
{% block body_contents %}
    <h1  style="color: #f8f8ff; margin-bottom: 40px; font-weight: 400">Quick Post</h1>
{#    <div class="row" style="font-size: 13px;color: #fff;font-weight:300">#}
{#        <div class="col-md-4"  style="font-weight: 300">#}
    <form id="contact" action="" method="POST">
        <div class="content col-sm-12 col-lg-offset-2">
             <div class="content col-sm-4">
                <p style="color: #f8f8ff; margin-bottom: 40px; font-weight: 400">Title:
                <input placeholder="Title" class="form-control col-sm-2" type="text" name = "title" required autofocus></p>
             </div>
        </div>

        <div class="content col-sm-12 col-lg-offset-2">
             <div class="content col-sm-4">
                <p style="color: #f8f8ff; margin-bottom: 40px; font-weight: 400">Aim Location:
                <input class="form-control col-sm-2" placeholder="Aim Location" type="text" name = "address" required autofocus></p>
            </div>
        </div>

        <div class="content col-sm-12 col-lg-offset-2">
             <div class="content col-sm-4">
                <p style="color: #f8f8ff; margin-bottom: 40px; font-weight: 400">Room Number:
                <input class="form-control col-sm-2" placeholder="Room nums" type="text" name = "room_num" required autofocus></p>
            </div>
        </div>

        <div class="content col-sm-12 col-lg-offset-2">
             <div class="content col-sm-4">
                <p style="color: #f8f8ff; margin-bottom: 40px; font-weight: 400">Start Date:
                <input class="form-control col-sm-2" type="date" name = "start_date" required autofocus></p>
            </div>
        </div>

        <div class="content col-sm-12 col-lg-offset-2">
             <div class="content col-sm-4">
                <p style="color: #f8f8ff; margin-bottom: 40px; font-weight: 400">End Date:
                <input class="form-control col-sm-2" type="date" name = "end_date" required autofocus></p>
            </div>
        </div>

        <div class="content col-sm-12 col-lg-offset-2">
             <div class="content col-sm-4">
                <p style="color: #f8f8ff; margin-bottom: 40px; font-weight: 400">Message:
                <input class="form-control col-sm-2" placeholder="Type your Message Here...." name = "message" required autofocus></p>
            </div>
        </div>

        <div class="content col-sm-12 col-lg-offset-2">
        <div class="content col-lg-offset-3" style="margin-bottom: 40px">
            <button class="search-btn" type="submit" value="search" style=" margin-top: 20px; margin-bottom: 40px; font-weight: 800">Post</button>
        </div>
    </form>


{% endblock %}
