{% extends "base.html" %}
{% block body_contents %}
{% for post in posts %}
        {% if requestID == post.ID | string %}
            <li class="house-item col-lg-offset-2" style="margin-bottom: 40px" xmlns="http://www.w3.org/1999/html">
                <div class="house-desc">
                      <div class="house-intro">
                          <div class="house-price" style="color: #f8f8ff"><h3>{{ post.title }}</h3></div>
                            </br>
                              <em style="color: #f8f8ff">Aim address:  {{ post.address }}</em><br><br>
                                <em style="color: #f8f8ff">Aim room amount:  {{ post.room_num }}</em><br><br>
                                 <em style="color: #f8f8ff">Rent date:  {{ post.start_date }} - {{ post.end_date }}</em><br><br>
                                    <em style="color: #f8f8ff">Message:  {{ post.message }}</em><br><br>
                     </div>
                </div>
             </li>

            <li class="house-item col-lg-offset-2" style="margin-bottom: 40px">
                <div class="house-desc">
                      <div class="house-intro">
                          <div class="house-price" style="color: #f8f8ff"><h3>Comments</h3></div>
                            </br>
                                {% for comment in comments %}
                                 {% if comment.requestID == post.ID  %}
                                 <em style="color: #f8f8ff" >{{ comment.message }} <br>
                                 - user:  {{ comment.userID }} {{ comment.time }}
                                 </em><br><br><br>
                                 {% endif %}
                                 {% endfor %}
                     </div>
                </div>
             </li>

            <form method="POST">
                 <div class="content col-sm-12 col-lg-offset-2">
                      <div class="content col-sm-4">
                         <p style="color: #f8f8ff; margin-bottom: 40px; font-weight: 400">Comment:
                           <textarea class="form-control col-sm-2" placeholder="Type your Comment Here...." name = "comment" required autofocus>
                           </textarea></p>
                         </div>
               </div>
               <div class="content col-sm-12 col-lg-offset-2">
                     <div class="content col-lg-offset-3" style="margin-bottom: 40px">
                       <button class="search-btn" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                      </div>
            </form>
        {% endif %}
    {% endfor %}
{% endblock %}
