<!DOCTYPE html>
<html lang="en">
<head>
    <title>unswtalk</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/navigation.css" type="text/css">
    <script src="static/navigation.js" type="text/javascript"></script>
    {% block beforehead %}
    {% endblock %}
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <a class="navbar-left nav-title" href="#">UNSWTalk</a>
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="nav-btn">-->
                    <!--<button class="btn btn-default navbar-btn btn-profile" onclick="{location.href='profile.jsp'}" style="outline: 0">Profile</button>-->
                <!--</li>-->
                <li class="nav-btn">
                    <button class="btn btn-default navbar-btn btn-logout post" style="outline: 0">Post</button>
                </li>
                <li class="nav-btn">
                    <button class="btn btn-default navbar-btn btn-logout" onclick="{location.href='/logout'}" style="outline: 0">Logout</button>
                </li>
            </ul>

            <form id="searchform" class="navbar-form navbar-right" action="search" method="post">
                <div class="form-inline">
                    <div class="input-group option-box">
                        <input type="hidden" name="action" value="searchFriend">
                        <div class="input-group-addon">
                            <select class="input-group-addon option" name="type">
                                <option value="type">TYPE</option>
                                <option value="message">Message</option>
                                <option value="student">Student</option>
                            </select>
                        </div>
                        <input class="search-input" type="text" placeholder="Search Friend" name="searchContent">
                        <div class="input-group-addon">
                            <button class="search-btn" type="submit" value="Search">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="mask" onclick="dismiss()"></div>
<div class="board">
    <div class="title">New Post</div>
    <form class="form" id="postForm">
        <input type="hidden" class="type" name="type" value="post">
        <div class="post-board">
            <textarea class="input-text" name="message" id="" cols="30" rows="3" placeholder="What's happening"></textarea>
        </div>
        <input class="post-btn" type="submit" value="Post">
    </form>
</div>

{% block body_contents %}
{% endblock %}

</body>
</html>
