{% extends "base.html" %}
{% block body_contents %}
    <!-- <h1>Post Accommodation</h1> -->
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Post Personal info</legend>
                <div class="form-group">
                    {{ form.UserEmail.label(class="form-control-label") }}
                    {% if form.UserEmail.errors %}
                        {{ form.UserEmail(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.UserEmail.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.UserEmail(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Room.label(class="form-control-label") }}
                    {% if form.Room.errors %}
                        {{ form.Room(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Room.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Room(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Street.label(class="form-control-label") }}
                    {% if form.Street.errors %}
                        {{ form.Street(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Street.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Street(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Suburb.label(class="form-control-label") }}
                    {% if form.Suburb.errors %}
                        {{ form.Suburb(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Suburb.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Suburb(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.State.label(class="form-control-label") }}
                    {% if form.State.errors %}
                        {{ form.State(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.State.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.State(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Postcode.label(class="form-control-label") }}
                    {% if form.Postcode.errors %}
                        {{ form.Postcode(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Postcode.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Postcode(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.RoomType.label(class = "form-check-label") }}
                    {{ form.RoomType(class = "form-control") }}
                </div>
                <div class="form-group">
                    {{ form.Star.label(class = "form-check-label") }}
                    {{ form.Star(class = "form-control") }}
                </div>
                <div class="form-group">
                    {{ form.check_in_date.label(class="form-control-label") }}
                    {% if form.check_in_date.errors %}
                        {{ form.check_in_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.check_in_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.check_in_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.check_out_date.label(class="form-control-label") }}
                    {% if form.check_out_date.errors %}
                        {{ form.check_out_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.check_out_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.check_out_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Price.label(class="form-control-label") }}
                    {% if form.Price.errors %}
                        {{ form.Price(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Price(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Description.label(class="form-control-label") }}
                    {% if form.Description.errors %}
                        {{ form.Description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" >
                    {{ form.Image.label(class="form-control-label") }}
                    {% if form.Image.errors %}
                        {{ form.Image(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Image.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Image(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}
