{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block body_contents %}
    <h1  style="color: #f8f8ff;  margin-bottom: 20px; font-weight: 400">Profile : {{ current_user.username }}</h1>
     <div class="row" style="font-size: 13px;color: #fff;font-weight:300">
        <div class="col-md-4" style="font-weight: 300; margin-bottom: 27px">
            {{ wtf.quick_form(form) }}
        </div>
   <!--  <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=50) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.full_name.label }}<br>
            {{ form.full_name(size=32) }}<br>
            {% for error in form.full_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.home.label }}<br>
            {{ form.home(size=50) }}<br>
            {% for error in form.home.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.home_suburb.label }}<br>
            {{ form.home_suburb(size=32) }}<br>
            {% for error in form.home_suburb.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form> -->
{% endblock %}
 