{% extends "base.html" %}

{% block body_contents %}
<div class="mainpage_details">
	<h1>Hi, {{ current_user.username }}!</h1>

<form method="POST" action={{url_for('login')}}>
<input type="submit" value="login" class="mainpage_button">
</form>

<form method="POST" action={{url_for('sign_up')}}>
<input type="submit" value="sign up" class="mainpage_button">
</form>

<form method="POST" action={{url_for('search')}}>
<input type="submit" value="search" class="mainpage_button">
</form>

<img border="0" src={{picture_path}} alt='xD no photo' width="800" height="600">

</div>

{% endblock %}
